body {
  font-family: "helvetica neue", "helvetica", sans-serif;
}

img {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
}

.navbar-div img {
  border: none;
}

ul {
  display: flex;
  flex-flow: wrap;
  list-style: none;
}

.numtxt {
  font-size: 12px;
  color: grey;
}

.catnam {
  font-size: 18px;
  font-weight: bold;
}

.catbox {
  margin: 1em;
}

.txtbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
